<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ericson Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="power-outline"></ion-icon>
                        </span>
                        <span class="title">Ericson</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'employee'%}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Employee</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'upload'%}">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Upload</span>
                    </a>
                </li>

              


               

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>

                
            </ul>

            

        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="user">
                    <img src="{% static 'images/user.png'%}" alt="">
                </div>
            </div>

            <!-- ======================= Create user form ================== -->

            <p>Are you sure you want to delete "{{employee.name}}" ?</p>

            <form method="POST" action="{% url 'delete_employee' employee.id%}">
                {% csrf_token %}
                {{form}}
                <a href="{% url 'employee' %}">Cancel</a>
                <input type="submit" name='Confirm' class='btn'>
            </form>
            

            

         
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="{% static '/js/script.js'%}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>