<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ericson Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link rel='stylesheet'  href="{% static '/css/registration.css'%}">

    
    
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="power-outline"></ion-icon>
                        </span>
                        <span class="title">Ericson</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'employee' %}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Employee</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'upload' %}">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Upload</span>
                    </a>
                </li>

              


               

                <li>
                    <a href="{% url 'logout' %}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>

                
            </ul>

            

        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <h2>{{employee.user.username}}</h2>
                </div>

                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
         

            <!-- ================ Order Details List ================= -->
            <div class='centered'>
                <div class="wrapper">
                    <div class="login-container">

                        <form  method="POST" action="">
                            {% csrf_token %}
                            
                            
                            <div class="input-div one focus">
                                <div class="i">
                                        <i class="fas fa-user"></i>
                                        
                                </div>

                                <div>
                                    {{user_form.username.label}}
                                    {{user_form.username}}
                                </div>
            
                            </div>
            
                            <div class="input-div two">
                                <div class="i">
                                    <i class="fa-regular fa-hashtag"></i>
                                </div>
                                <div>
                                    {{employee_form.matricule.label}}
                                    {{employee_form.matricule}}
                                </div>
                            </div>

                            <div class="input-div two">
                                <div class="i">
                                    <i class="fa-regular fa-hashtag"></i>
                                </div>
                                <div>
                                    {{employee_form.email.label}}
                                    {{employee_form.email}}
                                </div>
                            </div>

            
            
                            <input type="submit" value="Update!" class='btn'>
                        </form>
            
            
            
                    </div>

                   
                
               

                </div>
            </div>
               
               
               



                <!-- ================= New Customers ================ -->
            
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="{% static '/js/script.js'%}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>